<div class="about-container">

    <div class="title-container">
        <h2 class="name-text">Alberto Pérez Galiano</h2>
        <h3 class="subname-text"><a href="mailto:alberto.lipe@gmail.com">alberto.lipe@gmail.com</a></h3>
        <h3 class="subname-text">Madrid, Spain</h3>
    </div>


    <div class="objetive-container">
        <h2 class="section-title">OBJETIVE</h2>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>
    </div>


    <div class="education-container">
        <h2 class="section-title">EDUCATION</h2>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>

        <div class="items-container">
            <div class="education-item">
                <h4 class="title">Master Degree Engineer, University "Rey Juan Carlos", Madrid, Spain</h4>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="education-item">
                <h4 class="title">Java Advanced Master</h4>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
    </div>


    <div class="work-container">
        <h2 class="section-title">WORK EXPERIENCE</h2>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>

        <div class="items-container">
            <div class="work-item">
                <h4 class="title">Studentship in University Rey Juan Carlos, 2004-2005, Madrid, Spain</h4>
                <p class="description">Reparación Hardware, mantenimiento de redes, instalación y soporte sobre sistemas Windows-Unix</p>
            </div>
            <div class="work-item">
                <h4 class="title">Developer at ETRASA (Springer Group), 2005-2007, Madrid, Spain</h4>
                <p class="description">Soporte incidencias, unit testing, html + javascript web projects</p>
            </div>
            <div class="work-item">
                <h4 class="title">Head of R+D at IMASTE, 2007-2012, Madrid, Spain</h4>
                <p class="description">Desarrollo aplicaciones basadas en Flex, html, jquery, html5, java. Coordinación del producto, automatizacionesy  mejora de procesos.</p>
            </div>
            <div class="work-item">
                <h4 class="title">Senior Software at On24, 2012-current, San Francisco, CA, EEUU</h4>
                <p class="description">Desarrollo frontend vshow.</p>
            </div>
        </div>

    </div>

    <div class="work-container">
        <h2 class="section-title">SKILLS</h2>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>

        <div class="items-container">
            <div class="skill-item">
                <h4 class="title">Frontend Developer</h4>
                <p class="description">Javascript: 5 años de experiencia en desarrollo de aplicaciones con Javascript, a nivel de DOM, así como desarrollo con librerías y frameworks tales como jQuery, javascriptMVC, AngularJS, Backbone.js, MooTools, Prototype, script.aculo.us, YUI, Capuccino, Sencha Ext JS...</p>
                <p class="description">5 años de experiencia desarrollando aplicaciones bajo HTML4 y HTML5 y CSS3</p>
                <p class="description">AIR: 1 años de experiencia desarrollando aplicaciones de escritorio en AIR. </p>
                <p class="description">Flex: 6 años de experiencia en desarrollo de aplicaciones cliente con diferentes frameworks:  Cairngorm, PureMVC, Parsley, Spring Flex...Además, 3 años realizando diferentes aplicaciones móviles bajo esta tecnología.</p>
            </div>

            <div class="skill-item">
                <h4 class="title">Mobile Developer</h4>
                <p class="description">3 años de experiencia en desarrollo de aplicaciones móviles multi-dispositivo bajo diferentes frameworks como Flex 4,  jQuery mobile, Phone Gap....</p>
                <p class="description">1 año realizando desarrollos nativos en Objetive C y AIDE (Java IDE for Android) </p>
            </div>

            <div class="skill-item">
                <h4 class="title">Streaming</h4>
                <p class="description">4 años de experiencia en aplicaciones basadas en streaming de vídeo, con diferentes servidores como Red5, Wowza, y Flash Media Server. </p>
                <p class="description">Experiencia con proyectos personales en PHP y Node.js </p>
            </div>
            <div class="skill-item">
                <h4 class="title">Database</h4>
                <p class="description">PostgreSQL, MySQL, Oracle, MongoDB</p>
            </div>

            <div class="skill-item">
                <h4 class="title">Others</h4>
                <p class="description">Joomla, Drupal, Magento, Jira, WordPress, Tomcat, Apache, metodologías ágiles (Scrum), svn, perforce, git...</p>
                <p class="description">Amazon Cloud Service</p>
                <p class="description">Inglés nivel alto hablado y escrito (Durante el último año de trabajo todas las conferencias diarias eran en inglés)</p>
            </div>
        </div>

    </div>

    <div class="reference-container">
        <h2 class="section-title">REFERENCES</h2>
        <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>
        <div class="items-container">
            <div class="skill-item">
                <h4 class="title">Juanito Lacata</h4>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed cursus risus, ut bibendum magna. Praesent vel elit non leo cursus euismod in id elit. Pellentesque fringilla, augue et lobortis posuere, augue risus fringilla nisi, id euismod diam risus at sapien. Integer at mollis nisi, sed luctus arcu. Nullam a augue laoreet arcu consequat eleifend sed nec diam. Vestibulum gravida laoreet dui, in dapibus nibh elementum placerat. Sed ornare ligula sit amet magna laoreet, ut sollicitudin justo tristique. Suspendisse rutrum odio eget eros gravida, in rutrum ligula sodales.</p>
            </div>
        </div>
    </div>
</div>