<div class="works-container">

    <h3 class="zone-title">WORKS</h3>
    <p>They are some of my last projects</p>

    <div class="works-thumbnail">
        <!--lista de proyectos-->


        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div><div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div><div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div><div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div><div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

        <div class="project-item">

            <div style="width:300px; height:200px; background-color: #a020f0;">
                <img alt="" src="/html/img/project1.jpg"/>
            </div>
            <div style="width:300px; height:50px; margin-top: -12px;background-color: blue;">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>
    </div>

</div>