<div class="works-container">

    <h3 class="zone-title">WORKS</h3>
    <p>They are some of my last projects</p>

    <div class="works-thumbnail">
        <!--lista de proyectos-->


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>


        <div class="project-item">

            <div style="width:300px;">
                <img alt="" src="/img/wombat1.jpg"/>
            </div>
            <div class="project-text-container">
                <p class="project-description">Project Description Info</p>
            </div>

        </div>

    </div>

</div>